.movies-list {
    padding: 80px 30px;
    width: 100%;
    margin: auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.movies-list__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 320px;
    gap: 34px 30px;
    margin: 0 0 65px;
    padding: 0;
    list-style: none;
}

.movies-list__button {
    width: 100%;
    border-radius: 6px;
    background: #2F2F2F;
    border: none;
    color: #FFF;
    font-family: 'inter', "Arial ", sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 11px 0 9px;
    cursor: pointer;
    transition: .2s ease-out;
}

.movies-list__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 850px) {
    .movies-list__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 309px;
        gap: 35px 24px;
        margin-bottom: 83px;
    }
}

@media screen and (max-width: 600px) {
    .movies-list {
        padding: 52px 10px 80px;
    }
    .movies-list__list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 271px;
        gap: 16px;
    }
}