.movies__card {
    border-radius: 6px;
    background: #222;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    height: fit-content;
    min-width: fit-content;
}

.movies__card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}

.movies__card-title {
    margin: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}

.movies__card-duration {
    color: #8B8B8B;
    font-size: 13px;
    margin: 0;
}

.movies__card-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.movies__card-button {
    position: relative;
    border: none;
    width: 100px;
    height: 29px;
    box-sizing: border-box;
    border-radius: 30px;
    background: #313131;
    color: #FFF;
    font-family: 'inter', "Arial ", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 15px auto;
    cursor: pointer;
    display: block;
    transition: 0.2s ease-out;
}

.movies__card-button:hover {
    opacity: 0.8;
}

.movies__card-button_type_saved {
    background-color: #EE3465;
    color: transparent;
}

.movies__card-button_type_delete {
    color: transparent;
}

.movies__card-button::after {
    color: #FFF;
    position: absolute;
    top: 7px;
    left: 45px;
}

.movies__card-button_type_saved::after {
    content: '✓';
    font-size: 14px;
}

.movies__card-button_type_delete::after {
    content: '✕';
}

@media screen and (max-width: 850px) {
    .movies__card-image {
        height: 190px;
    }
}
@media screen and (max-width: 600px) {
    .movies__card-info {
        padding: 14px;
    }
    .movies__card-title {
        font-size: 12px;
    }
    .movies__card-duration {
        font-size: 10px;
    }
    .movies__card-image {
        height: 168px;
    }
    .movies__card-button {
        margin: 14px auto;
    }
}