.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100vh;
}
.profile__title {
    margin: 148px auto 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__info {
    display: flex;
    flex-direction: column;
    margin-top: 107px;
    margin-bottom: 50px;
    max-width: 410px;
    max-height: 92px;
    width: 100%;
}

.profile__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 46px;
    height: 100%;
}
.profile__container:first-of-type {
    border-bottom: 1px solid #424242;
}

.profile__text {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

button {
    margin: 0;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border: none;
    transition: .2s ease-out;
}
button:hover {
    cursor: pointer;
    opacity: 0.7;
}
button:active {
    scale: 95%;
}

.profile__edit-button {
    margin-top: auto;
    margin-bottom: 13px;
    color: #FFF;
}

.profile__logout-button {
    color: #EE3465;
    margin-bottom: 68px;
}

@media screen and (max-width: 800px) {
    .profile__title {
        margin-top: 310px;
    }

    .profile__info {
        margin-top: 80px;
    }

    .profile__logout-button {
        margin-bottom: 26.1vh;
    }
}

@media screen and (max-width: 440px) {
    .profile {
        height: 100vh;

    }
    .profile__title {
        margin-top: 144px;
    }

    .profile__info {
        margin-top: 64px;
        max-width: 81%;
    }

    button {
        font-size: 12px;
    }

    .profile__logout-button {
        margin-bottom: 40px;
    }
}