.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.not-found__container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-bottom: 18px;
}

.not-found__number {
    display: flex;
    max-width: 400px;
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.not-found__info {
    display: flex;
    margin: 3px 0 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.not-found__link {
    border: none;
    background: none;
    display: flex;
    margin: 0;
    position: absolute;
    color: #4285F4;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: .2s ease-out;
    bottom: -186px;
}
.not-found__link:hover {
    cursor: pointer;
    opacity: 0.7;
}
.not-found__link:active {
    scale: 95%;
}

@media screen and (max-width: 400px) {
    .not-found__number {
        font-size: 80px;
    }
    .not-found__info {
        font-size: 12px;
        margin-top: 9px;
    }
    .not-found__link {
        font-size: 12px;
        bottom: calc(100% - 54vh);
    }
    .not-found__container{
        padding-bottom: 0;
    }
}

@media screen and (max-height: 600px) {
    .not-found__link {
        bottom: -30px; 
    }

}