.portfolio__title {
    color: #8B8B8B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    margin: 0 0 30px;
}

.portfolio__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.portfolio__link {
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: -1.2px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    text-decoration-line: none;
    border-bottom: 1px solid #424242;
    transition: .2s ease-out;
}
.portfolio__link:hover {
    opacity: 0.7;
}
.portfolio__link:active {
    scale: 98%;
}

.portfolio__link-container:last-of-type .portfolio__link {
    padding-bottom: 0;
    border-bottom: none;
}

@media screen and (max-width: 950px) {
    .portfolio__link {
        font-size: 28px;
    }
}
@media screen and (max-width: 600px) {
    .portfolio__title {
        font-size: 14px;
        margin-bottom: 22px;
    }

    .portfolio__link {
        font-size: 18px;
        letter-spacing: -0.72px;
        padding: 8px 0;
    }
}