.header__menu-button {
    display: none;
}

@media screen and (max-width: 850px) {
    .header__menu-button {
        display: block;
        position: relative;
        background-color: transparent;
        border: none;
        padding: 0;
        width: 29px;
        height: 23px;
        margin: 3px 8px 4px 0;
    }
    .header__menu-button-icon,
    .header__menu-button::after,
    .header__menu-button::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        height: 3px;
        background-color: #FFF;
    }
    .header__menu-button-icon {
        top: 50%;
        transform: translateY(-50%);
    }
    .header__menu-button::after {
        top: 0;
    }
    .header__menu-button::before {
        bottom: 0;
    }
    .header__menu-button:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    .header__menu-button {
        width: 21px;
        height: 21px;
        margin: 3px 9px 4px 0;
    }
}