.search-form {
    width: 100%;
    max-width: 1200px;
    padding: 144px 30px 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.search-form__form {
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
    padding-bottom: 43px;
}

.search-form__wrapper {
    width: 100%;
    border-radius: 8px;
    border: 1.5px solid rgba(170, 170, 170, 0.2);
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

.search-form__label {
    height: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease-in-out;
}
.search-form__wrapper .search-form__input:focus+.search-form__label {
    background-color: #2c2c2c;
}
.search-form__input:focus {
    background-color: #2c2c2c;
    transition: .2s ease-in-out;
}

.search-form__submit-button {
    width: 100px;
    height: 52px;
    border-radius: 5px;
    border: none;
    background-color: #4285F4;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    font-family: 'inter', "Arial ", sans-serif;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 9px;
}

.search-form__submit-button:hover {
    opacity: 0.8;
}

.search-form__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #8B8B8B;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    padding-left: 24px;
    transition: .2s ease-in-out;
}

@media screen and (max-width: 950px) {
    .search-form__form {
        padding-bottom: 51px;
    }
}

@media screen and (max-width: 600px) {
    .search-form {
        padding-inline: 14px;
    }
    .search-form__form {
        padding-bottom: 63px;
    }
    .search-form__wrapper {
        height: 56px;
    }
    .search-form__submit-button {
        margin-right: 5px;
        width: 80px;
        height: 44px;
    }
    .search-form__input {
        font-size: 16px;
        padding-left: 12px;
    }
}