.search-form__filter-checkbox {
    margin: 26px 0 0;
    display: flex;
    align-items: center;
    gap: 14px;
    transition: .2s ease-out;
}

.search-form__toggler-wrapper {
    display: block;
    width: 36px;
    height: 20px;
    cursor: pointer;
    position: relative;
}
  
.search-form__toggler-wrapper input[type="checkbox"] {
    display: none;
}
  
.search-form__toggler-wrapper input[type="checkbox"]:checked+.search-form__toggler-slider {
    background-color: #3DDC84;
}
  
.search-form__toggler-wrapper .search-form__toggler-slider {
    background-color: #343434;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
  
.search-form__toggler-wrapper .search-form__toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 6px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #A0A0A0;
}

.search-form__toggler-wrapper input[type="checkbox"]:checked+.search-form__toggler-slider .search-form__toggler-knob {
    left: calc(100% - 14px);
    background-color: #FFF;
}


.search-form__filter-checkbox:hover {
    opacity: 0.8;
}


.search-form__filter-checkbox-text {
    margin: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
    .search-form__filter-checkbox {
        margin-top: 30px;
    }
    .search-form__filter-checkbox-text {
        font-size: 11px;
    }
}