.about-project {
    padding: 110px 0 106px;
    width: 100%;
    margin: 0 auto;
}

.about-project__content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 30px;
}

.about-project__info-container {
    display: flex;
    flex-direction: row;
    gap: 52px;
    margin: 70px 0;
}

.about-project__info {
    display: block;
    margin: 0;
}

.about-project__info-text {
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

.about-project__info-description {
    margin: 26px 0 38px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.about-project__timeline {
    margin: 0;
    display: grid;
    grid-template: repeat(2, 36px) / 1fr 4fr;
    place-items: center;
}

.about-project__timeline-time {
    margin: 0;
    width: 100%;
    max-height: 100%;
    padding: 9px 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #303030;
}

.about-project__timeline-time:first-of-type {
    background: #3DDC84;
    color: #000;
}

.about-project__timeline-result {
    margin: 0;
    padding: 11px 0 0;
    color: #8B8B8B;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px; /* 121.429% */
}

@media (max-width: 990px) {
    .about-project {
        padding: 90px 0 84px;
    }

    .about-project__content {
        padding: 0 50px;
    }

    .about-project__info-container {
        gap: 38px;
        margin: 69px 0;
    }

    .about-project__info-description {
        margin: 20px 0 24px;
        font-size: 12px;
        line-height: 18px; /* 150% */
    }

    .about-project__timeline-result {
        margin: 0;
        padding-top: 6px;
    }

    .about-project__timeline {
        grid-template: repeat(2, 37px) / 1fr 3.78fr;
    }
}

@media (max-width: 600px) {
    .about-project {
        padding: 70px 0 62px;
    }

    .about-project__content {
        padding: 0 18px;
    }

    .about-project__info-container {
        gap: 55px;
        margin: 60px 0;
        flex-direction: column;
    }

    .about-project__info-text {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .about-project__info-description {
        margin: 14px 0 0;
        font-size: 11px;
        line-height: 16px; /* 145.455% */
    }

    .about-project__timeline-time {
        font-size: 11px;
    }

    .about-project__timeline-result {
        font-size: 11px;
        margin: -10px 0 0;
        padding-top: 0;
    }

    .about-project__timeline {
        grid-template: repeat(2, 37px) / 1fr 1.85fr;
    }
}