.techs {
    background: #272727;
    width: 100%;
    padding: 100px 0;
    box-sizing: border-box;
}

.techs__content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 30px;
}

.techs__title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 116% */
    letter-spacing: -2px;
    margin: 90px 0 26px;
}

.techs__text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.56px;
    max-width: 460px;
    margin: 0 auto;
}

.techs__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 100px 0 0;
    padding: 0;
    list-style: none;
}

.techs__list-item {
    width: 90px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #303030;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
}

@media (max-width: 990px) {
    .techs {
        padding: 90px 0;
    }
    .techs__content {
        padding: 0 50px;
    }
    .techs__title {
        margin: 80px 0 21px;
    }
    .techs__text {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.48px;
    }
    .techs__list {
        margin-top: 84px;
    }
    .techs__list-item {
        width: 84px;
        height: 57px;
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}

@media screen and (max-width: 600px) {
    .techs {
        padding: 62px 0;
    }
    .techs__content {
        padding: 0 18px;
    }
    .techs__title {
        font-size: 30px;
        margin: 49px 0 13px;
        letter-spacing: -1.2px;
    }
    .techs__text {
        font-size: 11px;
        line-height: 16px; /* 145.455% */
        letter-spacing: -0.44px;
    }
    .techs__list {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .techs__list {
        margin: 50px auto 0;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 400px;
    }
}

@media screen and (max-width: 420px) {
    .techs__list {
        max-width: 179px;
        justify-content: flex-start;
    }
}