.describer {
    margin: 0;
    padding-bottom: 22px;
    width: 100%;
    border-bottom: 1px solid #DADADA;
    letter-spacing: -0.88px;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
}

@media screen and (max-width: 600px) {
    .describer {
        font-size: 18px;
        padding-bottom: 28px;
    }
}